@font-face {
  font-family: app-font-1;
  src: url(./app-font-1.woff2);
}

@font-face {
  font-family: app-font-2;
  src: url(./app-font-2.woff2);
}

div {
  font-family: app-font-1;
}

p {
  font-family: app-font-2;
}